.App {
  text-align: center;
  
}
html {
  background-color: #2a9d8f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-parent {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #264653; /* navbar color */
  overflow: hidden;
  margin: auto;
  height: 100%;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #2a9d8f; /* hover color */
  color: white;
}

.navbar .navbar-right {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.error {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  position: absolute;
  bottom: 37%;
  right: 25%;
  font-size: 30px;
  width: 300px;
  color: red;
  z-index: 100;
}

.login-form {
  background-color: #e9c46a;
  border-radius: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 250px;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.signup-form {
  background-color: #e9c46a;
  border-radius: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 220px;
  height: 550px;
  padding: 20px;
  width: 450px;
}
.form-body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input-container {
  height: 25px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.submit {
  background-color: #2a9d8f;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.placeholder {
  font-family: sans-serif;
  color: #eee;
}

.signup-placeholder {
  font-family: sans-serif;
  color: #eee;
  font-size: 18px;
}

/* below is knob testing for sound effects */

.knob-surround {
  position: relative;
      background-color: grey;
      width: 14em;
      height: 14em;
      border-radius: 50%;
      border: solid 0.25em #0e0e0e;
      margin: 5em auto;
      background: #181818;
}

select {
  position: relative;
}

.knob {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 10;
}

.knob::before {
  content: "";
  position: absolute;
  bottom: 19%;
  left: 19%;
  width: 3%;
  height: 3%;
  background-color: #a8d8f8;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.4em 0 #79c3f4;
  -moz-box-shadow: 0 0 0.4em 0 #79c3f4;
  box-shadow: 0 0 0.4em 0 #79c3f4;
}

.min,
.max {
  display: block;
  font-family: "Varela Round", sans-serif;
  color: black;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 90%;
  position: absolute;
  
}

.min {
  bottom: 1em;
  left: -2.5em;
}

.max {
  bottom: 1em;
  right: -2.5em;
}
.voice1 {
  border-style: solid;
  border-width: 5px;
  border: #0e0e0e;
  position: relative;
}
.voice1osc {
  position: relative;
  width: 200px;
}



.voice1Env {
  position: absolute;
  width: 550px;
  top: 125px;
  margin-top: 30px;
  margin-left: 200px;
}
.osc1form {
  position: relative; 
  width: 710px;
  height: 273px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 50% 50%;
  /* left: 0px; */
  border: 3px solid black;
  border-bottom: 0px;
  
}
.grid-span-2 {
  grid-column: span 2;
}
.osc1form > div {
  margin: 20px;
  position: relative;
}
.osc2form {
  width: 710px;
  height: 270px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 50% 50%;
  /* position: relative; has to be position relative for left to work, or you could just do margin-left: -50px; too */
  /* left: 0px; */
  border: 3px solid black;
}
.osc2form > div {
  margin: 20px;
}
.voice1_osc {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}


.piano-parent {
  position: relative;
  bottom: 0px;
  margin: 0;
  height: 20px;
}
.piano {
position: relative;
bottom: 21px;
height: 10px;

}

.voice1_vol_port {
  position: relative;
  left: 35px;
  width: 400px;
  margin-left: 250px;
  right: 0;
}

.Knob_test .p-knob-text {
  font-size: 25px;
}

.triangle {
  position: absolute;
  top: 34%;
  left: 758px;
  margin-top: -50px;
  margin-left: -42px;
  width: 0px;
  height: 0px;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  
  border-left: 80px solid #e9c46a;
}

.knob_label {
  color: white;
}

.vib_harm {
  display: grid;
  
  padding: 0%;
  position: absolute;
    top: 128px;
    left: 761px;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    height: 546px;
    border: 3px solid black;
    border-left: 0px;
}

.vib_harm > div {
  margin: auto;
}

.harmonicity {
  margin-top: 40px;
}

.vibrato_rate {
  margin-top: 40px;
}



.effects {
  border: 3px solid black;
  position: absolute;
  top: 78px;
  left: 1011px;
  width: 887px;
  height: 546px;
}

.effects_inner {

  height: 530px;
  display: grid;
  gap: 1fr;
  grid-template-rows: 30% 30%;
  grid-template-columns: 30% 30% 30%;
}



.effectsinner svg {
  padding: 10px;
}

.osc1form button {
  position: absolute;
  top: 105px;
  left: 275px;
}

.sound_card_list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sound_card {
  background-color: #e9c46a;
  border-radius: 40px;
  box-sizing: border-box;
}
.button-62 {
  position: absolute;
  top: 430px;
  right: 0px;
  width: 160px;
  height: 60px;
  background: linear-gradient(to bottom right, #E76F51, #E9C46A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.button-63 {
  position: absolute;
  top: 430px;
  right: 175px;
  width: 160px;
  height: 60px;
  background: linear-gradient(to bottom right, #E76F51, #E9C46A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


